/* File: frontend/src/components/Flashcard.css */

.rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .relative {
    perspective: 1000px;
  }
  
  .absolute {
    backface-visibility: hidden;
  }
  